# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
# Comments are neat.

################
#Prototype_1-Driving_and_challenge_1_Plane
################


Prototype_1-Driving_and_challenge_1_Plane/[Ll]ibrary/
Prototype_1-Driving_and_challenge_1_Plane/[Tt]emp/
Prototype_1-Driving_and_challenge_1_Plane/[Oo]bj/
Prototype_1-Driving_and_challenge_1_Plane/[Bb]uild/
Prototype_1-Driving_and_challenge_1_Plane/[Bb]uilds/
Prototype_1-Driving_and_challenge_1_Plane/[Ll]ogs/
Prototype_1-Driving_and_challenge_1_Plane/[Mm]emoryCaptures/

# Never ignore Asset meta data
!Prototype_1-Driving_and_challenge_1_Plane/[Aa]ssets/**/*.meta

# TextMesh Pro files
Prototype_1-Driving_and_challenge_1_Plane/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
Prototype_1-Driving_and_challenge_1_Plane/.vs/



################
#PersonalProject2-Primitives
################
PersonalProject2-Primitives/[Ll]ibrary/
PersonalProject2-Primitives/[Tt]emp/
PersonalProject2-Primitives/[Oo]bj/
PersonalProject2-Primitives/[Bb]uild/
PersonalProject2-Primitives/[Bb]uilds/
PersonalProject2-Primitives/[Ll]ogs/
PersonalProject2-Primitives/[Mm]emoryCaptures/

# Never ignore Asset meta data
!PersonalProject2-Primitives/[Aa]ssets/**/*.meta

# TextMesh Pro files
PersonalProject2-Primitives/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
PersonalProject2-Primitives/.vs/



################
#Challenge2-fetch
################
Challenge2-fetch/[Ll]ibrary/
Challenge2-fetch/[Tt]emp/
Challenge2-fetch/[Oo]bj/
Challenge2-fetch/[Bb]uild/
Challenge2-fetch/[Bb]uilds/
Challenge2-fetch/[Ll]ogs/
Challenge2-fetch/[Mm]emoryCaptures/

# Never ignore Asset meta data
!Challenge2-fetch/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# TextMesh Pro files
Challenge2-fetch/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
Challenge2-fetch/.vs/



################
#Prototype_2-FeedAnimals
################
Prototype_2-FeedAnimals/[Ll]ibrary/
Prototype_2-FeedAnimals/[Tt]emp/
Prototype_2-FeedAnimals/[Oo]bj/
Prototype_2-FeedAnimals/[Bb]uild/
Prototype_2-FeedAnimals/[Bb]uilds/
Prototype_2-FeedAnimals/[Ll]ogs/
Prototype_2-FeedAnimals/[Mm]emoryCaptures/

# Never ignore Asset meta data
!Prototype_2-FeedAnimals/[Aa]ssets/**/*.meta

# TextMesh Pro files
Prototype_2-FeedAnimals/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
Prototype_2-FeedAnimals/.vs/



################
#Prototype_3_JumpForce
################
Prototype_3_JumpForce/[Ll]ibrary/
Prototype_3_JumpForce/[Tt]emp/
Prototype_3_JumpForce/[Oo]bj/
#Prototype_3_JumpForce/[Bb]uild/
#Prototype_3_JumpForce/[Bb]uilds/
Prototype_3_JumpForce/[Ll]ogs/
Prototype_3_JumpForce/[Mm]emoryCaptures/

# Never ignore Asset meta data
!Prototype_3_JumpForce/[Aa]ssets/**/*.meta

# TextMesh Pro files
Prototype_3_JumpForce/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
Prototype_3_JumpForce/.vs/



################
#Prototype_4_SumoBall
################
Prototype_4_SumoBall/[Ll]ibrary/
Prototype_4_SumoBall/[Tt]emp/
Prototype_4_SumoBall/[Oo]bj/
#Prototype_4_SumoBall/[Bb]uild/
#Prototype_4_SumoBall/[Bb]uilds/
Prototype_4_SumoBall/[Ll]ogs/
Prototype_4_SumoBall/[Mm]emoryCaptures/

# Never ignore Asset meta data
!Prototype_4_SumoBall/[Aa]ssets/**/*.meta

# TextMesh Pro files
Prototype_4_SumoBall/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
Prototype_4_SumoBall/.vs/



################
#Prototype5-ClickyCrate-UI
################
Prototype5-ClickyCrate-UI/[Ll]ibrary/
Prototype5-ClickyCrate-UI/[Tt]emp/
Prototype5-ClickyCrate-UI/[Oo]bj/
#Prototype5-ClickyCrate-UI/[Bb]uild/
#Prototype5-ClickyCrate-UI/[Bb]uilds/
Prototype5-ClickyCrate-UI/[Ll]ogs/
Prototype5-ClickyCrate-UI/[Mm]emoryCaptures/

# Never ignore Asset meta data
!Prototype5-ClickyCrate-UI/[Aa]ssets/**/*.meta

# TextMesh Pro files
#Prototype5-ClickyCrate-UI/[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
Prototype5-ClickyCrate-UI/.vs/


#################
#Not project specific
#################
# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

